/* OS X and Xcode */
.DS_Store
Thumbs.db
xcuserdata/
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcuserstate
App/*.sql
App/*.sqlite
App/*.sqlite3

/* Pods */
Pods/
Podfile.lock


