/* OS X and Xcode */
.DS_Store
Thumbs.db
App.*
App.xcodeproj/*
xcuserdata/
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcuserstate
App/*.sql
App/*.sqlite
App/*.sqlite3
App/Resources/ema.sqlite
/* Pods */
Pods/
Podfile.lock


